body {
    font-size: 62.5%;
}

header {
    text-align: center;
    font-size: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
}

img {
    width: 1700px;
    z-index: -1;
    position: absolute;
}

main {
    margin: auto auto;
    width: 1700px;
}

.console {
    width: 1700px;
    position: relative;
}

.display {
    display: flex;
    justify-content: center;
    width: 500px;
    flex-wrap: wrap;
    position: absolute;
    top: 270px;
    left: 600px;
}

.box {
    width: 160px;
    height: 150px;
    margin: 10px 10px 20px 10px;
    cursor: pointer;
}

.red-box {
    background-color: #ff0000;
    box-shadow: 0 0 0 1px #e32424 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #e32424, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.red-box:active,
.red-box.activated {
    box-shadow: 0 0 0 1px #ff8282 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ff8282;
}

.green-box {
    background-color: #2cc211;
    box-shadow: 0 0 0 1px #2cc211 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #638f05, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.green-box:active,
.green-box.activated {
    box-shadow: 0 0 0 1px #a0ea00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #a0ea00;
}

.yellow-box {
    background-color: #ffb900;
    box-shadow: 0 0 0 1px #ffb900 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c28e07, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.yellow-box:active,
.yellow-box.activated {
    box-shadow: 0 0 0 1px #ffea2e inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ffea2e;
}

.blue-box {
    background-color: #1140c2;
    box-shadow: 0 0 0 1px #101e87 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #101e87, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.blue-box:active,
.blue-box.activated {
    box-shadow: 0 0 0 1px #7ac5e6 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #7ac5e6;
}

.instructions-button {
    position: absolute;
    width: 90px;
    height: 60px;
    border-radius: 40%;
    left: 348px;
    top: 392px;
    cursor: pointer;
}

.start-button {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    left: 1212px;
    top: 398px;
    cursor: pointer;
}

.level {
    position: absolute;
    color: #4f4081;
    font-size: 1.2rem;
    left: 450px;
    top: 30px;
}

.modal {
    position: relative;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    font-family: 'Roboto', sans-serif;
    color: #404040;
}

.modal-content {
    position: absolute;
    top: 450px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: #D3D3D3FF;
    padding: 2px 47px;
    width: 400px;
    border-radius: 8px;
}

.close-button {
    top: 10px;
    right: 10px;
    position: absolute;
    width: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2rem;
}

.close-button:hover {
    background-color: #a3a3a3;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.list-instructions li {
    line-height: 22px;
    margin-top: 3.5px;
}

.list-instructions {
    margin-left: -20px;
    font-size: 1rem;
}

.showModalEndGame {
    display: none;
    position: relative;
    z-index: 1;
    padding-top: 370px;
    left: 610px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-contentEndGame {
    font-size: 40px;
    border: 2px solid black;
    background-color: #D3D3D3FF;
    padding: 2px 47px;
    width: 400px;
    border-radius: 8px;
    text-align: center;
}

.showEndGameModal {
    display: block;
}

.instructions-subtitle {
    font-size: 1.4rem;
}

.unclickable {
    pointer-events: none;
}