body {
    font-size: 62.5%;
}

main {
    margin: 10% 20%;
}

.console {
    display: flex;
}

.display {
    display: flex;

}

.box {
    background: red;
    width: 100px;
    height: 100px;
    margin: 10px;
}

button {
    height: 40px;
    border-radius: 50%;
}
